<%- include('../partials/head.ejs', {page: book.title,script: 'collection'}) %>

<body>
  <%- include('../partials/nav.ejs') %>

  <main class="main-content-show-container">

   
    <%- include('../partials/bookShowCard.ejs') %> 

      <!-- <hr class="line-break"> -->


    <section class="create-review-container">
      <div class="review-content">
        <h2 class="review-title title-font center-title">Let others know what you think</h2>
        <form action="/reviews" method="POST">
          <div class="rating-area sub-content-padding">
            <label for="rating" class="rating-label header-font">Rating:</label>
            <input class="input input-rating content-font" type="number" name="rating" min="0" max="5" placeholder="0-5" />
          </div>
          <div class="text-area sub-content-padding">
            <!-- <div class="comment-section">
              <label for="comment" class="comment-label header-font">Comment:</label>
            </div> -->
            <textarea name="comment" id="" cols="30" rows="10" class="comment-section content-font" placeholder="Write your review here..."></textarea>
          </div>

          <% if (typeof user !== 'undefined') { %>
          <!-- Hidden paths -->
          <input type="hidden" name="book" value="<%= book._id %>" />
          <input type="hidden" name="user" value="<%= user._id %>" />
          <% } %>

          </div>
          <div class="review-btn-container sub-content-padding">
            <% if (typeof user !== 'undefined') { %>
            <button class="submit-comment btn confirm ">Submit Review</button>
            <% } else { %>
            <p class="login-prompt">Please log in to leave a review</p>
            <a href="/user/login">Log In</a>
            <% } %>
          </div>
        </form>
      </div>
    </section>

    <% if(reviews.length > 0) { %>
      <hr class="line-break">
      <h2 class='title-font center-title review-title' >What other readers thought</h2>
    
      <%- include('../partials/reviewCard.ejs') %> 
    <% } %> 
  </main>
</body>
