<%- include('../partials/head.ejs', {page: book.title}) %>

<body>
  <%- include('../partials/nav.ejs') %>

  <main class="main-content-show-container">
    <div class="flex-container-column"></div>
    <section class="book-details-full">
      <div class="show-book-cover">
        <img src="<%= book.coverImg %> " alt="" />
      </div>
      <div class="show-book-headers">
        <h2 class="show-book-title"><%= book.title %></h2>
        <h4 class="show-book-author"><%= book.author %></h4>
        <div class="genre-area">
          <p class="show-genre">Genre: <%= book.genre %></p>
        </div>
      </div>
      <div class="show-book-description">
        <p class="show-book-desc"><%= book.description %></p>
      </div>
    </section>

    <section class="create-review-container">
      <div class="review-content">
        <form action="/reviews" method="POST">
          <div class="rating-area">
            <label for="rating" class="rating-label">Rating:</label>
            <input class="input" type="number" name="rating" min="0" max="5" placeholder="0-5" />
          </div>
          <div class="text-area">
            <div class="comment-section">
              <label for="comment" class="comment-label">Comment:</label>
            </div>
            <textarea name="comment" id="" cols="30" rows="10" class="comment-section"></textarea>
          </div>
          <!-- Hidden paths -->
          <input type="hidden" name="book" value="<%= book._id %>" />
          <input type="hidden" name="user" value="<%= user._id %>" />

          </div>
          <div class="review-btn-container btn">
            <% if (typeof user !== 'undefined') { %>
            <button class="submit-comment">Submit Review</button>
            <% } else { %>
            <p class="login-prompt">Please log in to leave a review</p>
            <a href="/user/login">Log In</a>
            <% } %>
          </div>
        </form>
      </div>
    </section>

    <section class="read-review-container">
      <h2>What other readers thought:</h2>

      <% reviews.forEach(review => { %>
        
        <section class="review-card">
          <div class="review-user-info">
            <h3 class="user-review-display">
              <%= review.user.name %> 
            </h3>
            
            <div class="star-rating">

              <% for( let index = 0; index < 5; index++ ) { %> <% if
              (review.rating > index) { %>
                <span class="icon">
                  <i class="fas fa-star yellow"></i>
                </span>
              <% } else { %>
                    <span class="icon">
                      <i class="fas fa-star"></i>
                    </span>
              <% } %> <% } %>
            </div>
                      
            <p><%= new Date(review.createdAt).toLocaleString() %></p>
          </div>
          
          <div class="display-review-content">
            <p class="review-comment-display">
              <%= review.comment %> 
            </p>
          </div>

            <% if (user.id == review.user.id)  { %> 
              <div class="review-options-container">
                <a href="/reviews/<%= review.id %>/edit"><button class="edit-btn btn">
                  Edit Review
                </button></a> 
                
  
                <form action="/reviews/<%= review.id %>?_method=DELETE" method="POST">
                  <button class="delete-btn btn">
                    Delete Review
                  </button>                 
              </form>
              </div>

              <% } %> 

          <% }) %> 

        </section>
    </section>
  </main>
</body>
