<%- include('../partials/head.ejs', {page: 'Edit Review'}) %>

<body>
  <%- include('../partials/nav.ejs') %>

  <main>

    <section class="edit-review-container">
      <!--  NOTE: action will be the route, method will be the HTTP verb-->
      <form class="edit-form" action="/reviews/<%= review.id %>?_method=PUT" method="POST">
        <div class="field">
          <label class="label">Review Rating</label>
          <div class="control">
            <input
              class="input content-font rating-edit-page"
              type="number"
              placeholder="review rating"
              min="0"
              max="5"
              name="rating"
              value="<%= review.rating %>"
            />
          </div>
        </div>

        <div class="field">
          <div>

            <label class="label">Review Content</label>
          </div>
            <textarea
              class="large-data-input content-font"
              type="text"
              cols="40"
              rows="5"
              placeholder="review comment"
              name="comment"
            ><%= review.comment %></textarea>
          </div>
        </div>

        <div class="field edit-btns-container">
          <div class="control">
            <a class="btn-link cancel-btn btn delete-btn" href="/browse/ ">Cancel</a>
            <button class="btn edit-btn edit-margin-left" type="submit">Edit Review</button>
          </div>
        </div>
      </form>
    </section>
  </main>
</body>
